@model ThemeParkDatabase.ViewModels.VisitorsQuery
@using ThemeParkDatabase.Models;

@* Filters should be good *@

@{
    List<DailyParkReport> parkReports = Model.DailyParkReports
        .Where(p => (p.Date >= Model.ReportQuery.StartDate) && (p.Date <= Model.ReportQuery.EndDate))
        .ToList();
    
    @:<div class="report">
        @:<div>
        @:<h4>Visitor Info</h4>
        int totalVisits = 0;
        foreach (var parkReport in parkReports)
        {
            totalVisits += parkReport.NumVisitors;
        }
        <p>Total Visits: @totalVisits</p>
        var avgVisits = totalVisits / parkReports.Count();
        <p>Average Visits: @avgVisits</p>

        var highest = 0;
        DateTime highestDate = new DateTime();
        var lowest = 9999999;
        DateTime lowestDate = new DateTime();
        foreach (var parkReport in parkReports)
        {
            if (parkReport.NumVisitors > highest)
            {
                highest = parkReport.NumVisitors;
                highestDate = parkReport.Date;
            }
            if (parkReport.NumVisitors < lowest)
            {
                lowest = parkReport.NumVisitors;
                lowestDate = parkReport.Date;

            }
        }
        <p>Highest: @highest on @highestDate.ToString("MM/dd/yyyy")</p>
        <p>Lowest: @lowest on @lowestDate.ToString("MM/dd/yyyy")</p>
        @:</div>
    @:</div>
}