@model ThemeParkDatabase.ViewModels.VisitorsQuery
@using ThemeParkDatabase.Models;

@* Filters should be good *@

@{
    List<DailyParkReport> parkReports = Model.DailyParkReports
        .Where(p => (p.Date >= Model.ReportQuery.StartDate) && (p.Date <= Model.ReportQuery.EndDate))
        .ToList();
    
    @:<div class="report">
        @:<div>
        @:<h4>Visitor Info</h4>
        int totalVisits = 0;
        foreach (var parkReport in parkReports)
        {
            totalVisits += parkReport.NumVisitors;
        }
        <p>Total Visits: @totalVisits</p>
        var avgVisits = totalVisits / parkReports.Count();
        <p>Average Visits: @avgVisits</p>
        @:</div>
    @:</div>
}